@font-face {
    font-family: 'Graphik Trial'; /* Name you want to give to the font */
    src: url('../fonts/Graphik-Semibold-Trial.otf') format('opentype'); /* Path to the OTF file */
    font-weight: 500; /* Normal font weight */
}

@font-face {
    font-family: 'Graphik Trial'; /* Name you want to give to the font */
    src: url('../fonts/Graphik-Medium-Trial.otf') format('opentype'); /* Path to the OTF file */
    font-weight: 600; /* Normal font weight */
}


@font-face {
    font-family: 'Graphik Trial'; /* Name you want to give to the font */
    src: url('../fonts/Graphik-Regular-Trial.otf') format('opentype'); /* Path to the OTF file */
    font-weight: 400; /* Normal font weight */
}


$tablet: 800px;
$mobile: 480px;

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik Trial';
}

$bg: #10111F;
$barsize: 15px;

.hr {
    
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0em;
    padding: 2em 0;

    &:after,
    &:before {

        content: "";
        position: absolute;

        width: 100%;
        height: 1px;
        bottom: 50%;
        left: 0;

    }

    &:before {

        background: linear-gradient( 90deg, $bg 0%, $bg 50%, transparent 50%, transparent 100% );
        background-size: $barsize;
        background-position: center;
        z-index: 1;

    }

    &:after {

        transition: opacity 0.3s ease, animation 0.3s ease;

        background: linear-gradient(
            to right, 
            #62efab 5%, 
            #F2EA7D 15%, 
            #F2EA7D 25%, 
            #FF8797 35%, 
            #FF8797 45%, 
            #e1a4f4 55%, 
            #e1a4f4 65%, 
            #82fff4 75%, 
            #82fff4 85%, 
            #62efab 95%);

        background-size: 200%;
        background-position: 0%;
        animation: bar 15s linear infinite;

    }

    @keyframes bar {

        0% { background-position: 0%; }
        100% { background-position: 200%; }

    }
    
}



.container{
    max-width: 1800px;
    margin: auto;
    padding: 60px 100px;
    @media(max-width: $tablet){
        padding: 40px;
    }

    @media(max-width: $mobile){
        padding: 40px 20px;
    }
    
}
.bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.bg_contain{
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
a.pink_link{
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    padding: 4px 40px 9px 40px;
    border-radius: 40px;
    color: #F3F5F5;
    font-weight: 400;
    background: #F3F5F5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: relative;
    z-index: 99;
    overflow: hidden;

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(94deg, rgba(236, 78, 86, 0.60) 0%, rgba(171, 30, 112, 0.60) 100%);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
p{
    font-weight: 400;
    line-height: 40px;
    font-size: 24px;
    @media(max-width: $mobile){
        font-size: 18px;
    }
}
.heading{
    font-size: 30px;
    font-weight: 600;
    color: #C40C72;
    text-transform: uppercase;
    @media(max-width: $tablet){
        margin-bottom: 40px;
    }
}

span.bullet{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #C40C72;
    border-radius: 50%;
    margin-right: 5px;
}

img{
    width: 100%;
}

.brand{
    color: #C40C72;
    font-weight: 600;
}

.sub_p{
    margin: 60px;
    @media(max-width: $tablet){
        margin: 0;
    }
}
.sub_padding{
    padding: 60px;
    @media(max-width: $tablet){
        padding: 0;
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .container{
        display: flex;
        justify-content: flex-end;

        .right{

            button{
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
            }
            svg{
                width: 30px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    #menu{
        background-color: #2E537F;
        position: fixed;
        right: -548px;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: 99999;
        padding: 40px;
        transition: all 0.4s linear;
        &.show{
            right: 0;
        }
        .close{
            text-align: right;
            margin-bottom: 40px;
            img{
                width: 30px;
            }
            a{
                display: inline-block;
            }
        }

        ul{
            list-style: none;
            a{
                text-decoration: none;
                color: #F3F5F5;
                padding: 14px 0;
                display: block;
            }
        }
    }
}
#hero{
    background-image: url('../images/hero-bg-new.png');
    height: 100vh;
    background-position: center;

    @media(max-width: $mobile){
        height: calc(100vh - 100px);
        // background-image: url('../images/mobilie-home.png');
    }

    .container{
        display: flex;
        height: 100%;
        align-items: end;
        justify-content: end;
    }

    .text{
        position: absolute;
        right: 20px;
        bottom: 20px;
        text-align: center;
        background-color: rgb(255 255 255 / 74%);
        padding: 30px;
        border-radius: 30px;

        @media(max-width: $tablet){
            left: 20px;
            top: 20px;
            right: 20px;
            bottom: 20px;
            border-radius: 0px;
        }

        .middle{
            text-align: center;
            img{
                width: 190px;
            }
        }

        @media(max-width: $tablet){
            margin-right: 0;
        }

    }

    h1{
        font-size : 30px;
        letter-spacing : 0.38px;
        color : #255B7C;
        font-weight: 600;

        @media(max-width: $mobile){
            font-size : 30px;
        }
    }

    .brand{
        color: #255B7C;
        font-weight: 500;
    }
}

#slider_nav{
    margin-top: 40px;
    .container{
        position: relative;
    }
    a.pink_link{
        text-transform: uppercase;
    }
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 40%;
        object-fit: contain;
    }

    .heading{
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 60px;
        color: #303030;
    }

    .img{
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .text{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 30px;
            display: none;

            h2{
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                margin-bottom: 15px;
                // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }
        }
        
    }


        .swiper-slide{
            width: 50rem;

            p{
                margin: 20px 20px 40px;
            }
        }

        .swiper-slide-prev .img{
            border: 10px solid gray !important;
        }

        .swiper-slide-next .img{
            border: 10px solid gray !important;

        }

        .swiper-slide-prev, .swiper-slide-next{
            filter: grayscale(100%);
        }

        p{
            display: none;
        }

        .swiper-slide-active{
            p{
                display: block;
                text-align: center;
            }

            .img{
                border: 10px solid #C40C72;

            }

            .text{
                display: block;
            }
        }

        .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
        .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
            content: none;
        }

        .swiper-button-next img, .swiper-button-prev img{
            width: 65px;
            height: 65px;
            @media(max-width: $mobile){
                width: 40px;
                height: 40px;
            }
        }

        .swiper-pagination-bullet{
            width: 15px;
            height: 15px;
            background: rgb(236,78,85);
            background: linear-gradient(100deg, rgba(236,78,85,1) 3%, rgba(171,30,113,1) 100%);
            z-index: 9999;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            width: 20px;
            height: 20px;
        }

        .swiper-button-next, .swiper-button-prev{
            top: 43%;
        }

        .swiper-button-next{
            right: 85px;
            @media(max-width: $tablet){
                right: 20px;
            }
            @media(max-width: $mobile){
                right: 10px;
            }
        }

        .swiper-button-prev{
           left: 85px;
           @media(max-width: $tablet){
                left: 20px;
            }
           @media(max-width: $mobile){
                left: 10px;
            }
        }
    
}

#apol1_origin{
    .row{
        display: flex;
        gap: 10px;
        align-items: center;

        @media(max-width: $tablet){
            flex-direction: column-reverse;
        }
    }

    .left, .right{
        flex: 1;
    }

    .right{
        text-align: right;
        img{
            max-height: 440px;
            object-fit: contain;
            width: 100%;
            @media(max-width: $tablet){
                max-height: 240px;
                margin: 20px 0;
            }
        }
    }

    img{
        width: 100%;
    }

    p{
        margin-bottom: 30px;
    }

    .centered{
        margin-top: 30px;
        max-width: 900px;
        margin: 30px auto;
    }

}

#apol_kidney{
    img{
        margin: 40px 0 60px;
    }

    .row{
        display: flex;
        gap: 40px;
        @media(max-width: $tablet){
            flex-direction: column;
        }
    }
}

#recognizing_symptoms{
    img{
        max-width: 600px;
        margin: auto;
    }

    .img{
        text-align: center;
        @media(max-width: $tablet){
            margin-top: 20px;
        }
    }
}

#apol1_gene{
    background-position: center;
    .container{
        padding-bottom: 0;
    }

    .gene{
        padding: 100px 100px 0;
        @media(max-width: $tablet){
            padding: 40px 40px 0;
        }
    }

    .row.bg_contain{
        background-position: 103px;
        @media(max-width: $tablet){
            background-position: left;
            .container{
                padding: 0;
            }
        }
    }

    .text{
        height: 400px;
        display: flex;
        justify-content: end;
        align-items: end;
        @media(max-width: $tablet){
            height: auto;
        }

        p{
            max-width: 800px;
            background-color: rgb(255 255 255 / 74%);
            padding: 30px;
            border-radius: 30px;
            @media(max-width: $tablet){
                background-color: rgb(255 255 255 / 74%);
                border-radius: 0;
            }

        }
    }
}

#mazes_commitment{
    .container{
        position: relative;
    }
    .text{
        padding: 40px;
        @media(max-width: $tablet){
            padding: 0;
        }
        p{
            margin: 20px 0;
        }
    }

    .bg_obj{
        position: absolute;
        max-width: 500px;
        top: 0;
        right: 40px;
        z-index: -1;
        @media(max-width: $tablet){
            max-width: 300px;
            top: 100px;
            right: 0;
        }
    }
}

#advisary_committee{
    .text{
        margin-bottom: 150px;
    }

    .committee{
        background-position: center;
        background-size: cover;
    }

    .users{
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
        .user{
            flex: 1;
            max-width: 295px;
            min-width: 200px;
            transition: all 0.6s linear;
            &:hover img{
                transform: scaleY(1.01);
                transform-origin: bottom;
            }
        }

        h6{
            font-size: 20px;
            font-weight: 600;
            margin: 10px 0;
        }

        .title{
            font-size: 16px;
        }
    }

    img{
        background-color: #F3F5F5;
        transition: all 0.3s ease-in-out;
        max-height: 350px;
        height: 100%;
        object-fit: cover;

    }

    .users{
        margin-top: -200px;
    }
}

#learn_more{
    background-position: center;
    .highlight{
        background-color: #ffc0cb3b;
        color: black;
        display: inline-block;
        padding: 0 10px;
        @media(max-width: $tablet){
            margin-bottom: 40px;
        }
    }

    h5{
        font-size: 20px;
        color: #C40C72;
        margin-bottom: 10px;
    }

    p{
        font-size: 20px;
    }

    a{
        display: inline-block;
        color: #5CC1CB;
    }

    .tab{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 20px 50px;
        margin-bottom: 40px;
        min-height: 140px;
        transition: all 0.3s ease-in-out;
        transform-origin: top;
        @media(max-width: $mobile){
            padding: 20px 30px;
        }
    }

    .full_content{
        overflow: hidden;
        transition: height 0.3s linear;

        ul{
            padding-left: 20px;
            li{
                margin-bottom: 10px;
            }
        }
    }

    .full_content.h-0{
        height: 0px;
        transition: height 0.3s linear;
    }
}

#maze_affliations{
    .brands{
        display: flex;
        align-items: center;
    }
}

footer{
    .container{
        padding: 20px 100px;

        @media(max-width: $tablet){
            padding: 20px;
        }
    }
    background-color: #2E537F;
    .row{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    h4 a{
        color: #9CCAC8;
        font-size: 22px;
        text-decoration: none;
    }

    ul{
        display: flex;
        gap: 40px;
        list-style: none;
        justify-content: right;
        @media(max-width: $tablet){
            margin: 20;
            flex-wrap: wrap;
        }

        a{
            color: #F3F5F5;
        }
    }

    .top-link {
        display: inline-block;
        background: linear-gradient(100deg, rgb(236, 78, 85) 3%, rgb(171, 30, 113) 100%);
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, 
        opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        padding: 10px;

        @media(max-width: $mobile){
            width: 35px;
            height: 35px;
            padding: 8px;
        }

        .screen-reader-text{
            display: none;
        }

        svg{
            fill: white;
        }
    }
    
    .top-link.show {
        visibility: visible;
        opacity: 1;
    }
    
    .top-link.hide {
        visibility: hidden;
        opacity: 0;
    }

}